@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  font-family: 'Courier New', monospace;
  background-color: #282c35;
  background: url(../app/images/time.jpeg);
  color: #fff;
  margin: 0;
  padding: 0;
}

div {
  max-width: 800px;
  margin: 20px auto;
  background-color: #1e232b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: silver 3px 6px 9px;

}

h1 {
  color: #4caf50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
 

}

p {
  line-height: 1.6;
  margin-bottom: 19px;
}

/* Add a cool border to links */
a {
  color: #2196f3;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  
}

a:hover {
  border-bottom: 2px solid #2196f3;
}
.container{
  background:url(../app/images/frog.jpeg);
  box-shadow: silver 3px 6px 9px;
}
.buttonchapter {
  margin-top: 20px;
  text-align: center;
}

.buttonchapter button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonchapter button:hover {
  background-color: #2980b9;
}
.chapter-box{
  box-shadow: silver 3px 6px 9px;

}